.u-section-1 .u-sheet-1 {
    min-height: 266px;
}

.u-section-1 .u-image-1 {
    width: 64px;
    height: 64px;
    margin: 19px auto 0;
}

.u-section-1 .u-text-1 {
    margin: 29px auto 0;
}

.u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 44px auto;
}
